introduction
    p.
        These are notes for Robert Pollack's course MA842 at BU Spring 2020.
    p.
        The course webpage is #[url(href="http://math.bu.edu/people/rpollack/Teach/842spring2020.html")/].

    aside: p Lecture 1 21/1/2018


section#sec-def-gal-motivation
    title Motivation

    introduction
        p
            | Let #[m E_k] denote the Eisenstein series of weight #[m k], #[m k\gt 2].
            me E_k = \frac{-B_{k}}{2k} + \sum_{n=1}^\infty \sigma _{k-1} (n) q^n \in M_k(\SL_2(\ZZ))
            | . Where #[m B_k] are the Bernoulli numbers and
            me \sigma _{k-1} (n)  = \sum_{d|n,\, d\gt 0} d^{k-1}
            | .
        p
            | #[m E_2] however is not holomorphic, so not a modular form.
        p
            | Fix #[m N] a prime, notation has stuck from Mazur's Eisenstein ideal paper.

        p
            | Then there exists a unique Eisenstein series on #[m \Gamma _0(N)] of weight 2.
            me E_2^{(N)} = \frac{N-1}{12} + \sum_{n=1}^\infty  \sigma (n) q^n
            | .
        p
            | Funny observation: if #[m N \equiv  1 \pmod p] for prime #[m p \gt 3].
            | Then #[m p | ((N-1)/12)], so #[m E_2^{(N)}] #[q looks cuspidal].
        p
            | Then we hope that there exists a cuspidal eigenform #[m f \in S_2(\Gamma _0(N))] such that
            me f \equiv  E_2^{(N)} \qquad``{\mod p} ''
            | .
        p
            | This is in fact true, due to Koike in the 70's, there exists #[m f \in S_2(\Gamma _0(N))] such that
            me a_\ell (f) \equiv  1+ \ell \pmod p
            | for all #[m \ell \ne N,p].
            //| Koike, Masao. “Congruences between Cusp Forms and Linear Representations of the Galois Group.” Nagoya Mathematical Journal 64 (1976): 63–85. https://projecteuclid.org/euclid.nmj/1118796081.
        question
            statement
                p
                    | How many such #[m f] are there?
        p
            | Merel '96:
            me f \text{ is unique} \iff \prod_{i=1}^{(N-1)/2} i^i  \text{ is not a }p\text{-th power modulo }N
            | .
        p
            | Wake and Wang-Erickson describe the dimension of the space of such #[m f] using Massey products (higher cup products).

        p
            | Method: Galois deformations!


    subsection
        title Galois representations

        p
            | We write
            me G_{\QQ} = \absgal{\QQ} = \varprojlim_{F/\QQ,\text{fin. galois}} \Gal F\QQ
            | a profinite group.

        p
            me \rho  \colon  G_{\QQ} \to \GL_2 (\QQ_p)
            | a continuous homomorphism.
            | Then view #[m \GL_2(\QQ_p)] as  #[m \Aut(V)] for a 2-dimensional #[m \QQ_p] vector space and fix a  2-dimensional #[m \ZZ_p]-lattice
            me T \subseteq V
            | which is #[m G_{\QQ}] stable.
            | Then we can take
            me \bar \rho \colon G_\QQ \to \GL_2(\FF_p)
            | this is unique (w.r.t. the choice of #[m T]) only up to semisimplification.

        p
            | So we say two Galois representations #[m \rho _1,\rho _2] are congruent if
            me \bar \rho _1^\semis \simeq \bar \rho _2^\semis
            | .

        p
            | We say #[m \rho _1,\rho _2] are deformations of
            me \bar \rho _1= \bar \rho _2
            | (imagine this is reducible).
        p
            | Start with
            me \bar \rho  \colon G_\QQ \to \GL_2(\FF_p)
            | consider #[q all] deformations of #[m \bar\rho  ] in good cases there exists a #[q universal] deformation of #[m \bar \rho ].

        p
            | #[m R^{\mathrm{univ}}] a local ring with maximal ideal #[m \ideal m_R] such that
            me R/\ideal m_R = \FF_p
            | .
        p
            me \rho ^{\mathrm{univ}} \colon G_\QQ \to \GL_2(R^{\mathrm{univ}})
            | such that if #[m \rho  \colon  G_\QQ \to GL_2(R)] is a deformation of #[m \bar \rho ] then there exists
            me R^{\mathrm{univ}} \to R
            | such that
            me.
                \xymatrix{
                G_\QQ \ar[r]^{\rho ^{\mathrm{univ}}} \ar[dr]_\rho &amp; \GL_2(R^{\mathrm{univ}})\ar[d] \\
                 &amp;  GL_2(R)
                }

            | .

    subsection
        title Modular forms

        p
            me f = \sum a_n q^n \in S_k(\Gamma _0(N))
            | an eigenform leads to
            me \rho _f \colon G_\QQ \to \GL_2(K),\,K/\QQ_p \text{ finite}
            | with the property that for all #[m \ell \nmid Np] we have
            me \trace(\rho _f(\Frob_\ell)) = a_\ell
            | .
        p
            | Modular forms can be congruent
            me a_\ell (f_1) \equiv  a_\ell(f_2) \pmod p \text{ for all but finitely many } \ell
            me \Updownarrow
            me \bar \rho _{f_1}^\semis\simeq \bar \rho _{f_2}^\semis
            |.

        p
            | There exists a ring, the Hecke algebra #[m \mathbf T] parametrizing all #[m f]'s with the same #[m \bar \rho ].
            me f \leadsto \rho _f \implies R^{\mathrm{univ}} \to \mathbf T
            | so hope
            me R^{\mathrm{univ}} \simeq \mathbf T
            | .

        p
            | Wiles proof of FLT proved one of these.

        p
            | Many more such theorems in the past couple of decades.

        p
            | Wake and Wang-Erickson  show that the dimension of
            me \{ f : f \equiv E_2^{(N)}\} \leftrightarrow \rank \mathbf T = \rank R^{\mathrm{univ}}
            | .
        p
            me a_\ell(f) \equiv  1+ \ell \pmod p
            me \implies \bar \rho ^\semis = \mathbf 1 \oplus \mathbf \mu _p
            | but there does not exist #[m R^{\mathrm{univ}}] in this context.
        p
            | The fix is to use pseudorepresentations instead of representations.

    subsection
        title Pseudorepresentations

        p
            | Let #[m G] be a group.
        p
            | Then a pseudorepresentation #[m T] is a map
            me T\colon G \to A
            | for #[m A] a ring satisfying
            ol
                li
                    me T(xy) = T(yx)
                li
                    me T(x)T(y)T(z) - T(x)T(yz) - T(y)T(xz) - T(z)T(xy) + T(xyz) + T(xzy) = 0

            | and the analogous formulae for higher dimensions.

        fact
            statement: p
                | If #[m A] is an algebraically closed field of characteristic #[m \ne 2].
                | Then for a given pseudorepresentation #[m T] there exists a true representation #[m \rho ] such that
                me T = \trace(\rho )
                | .
        p
            | But this does not hold in general.

        p
            | Universal pseudodeformation rings always exist.
            | Wake and Wang-Erickson use #[m R^{\mathrm{univ}} =] universal pseudodeformation ring.

section#sec-def-gal-defs
    title Definitions


    subsection
        title Representations
        aside: p Lecture 2 23/1/2018

        definition#def-def-gal-rep
            title Representations
            statement: p
                | Let #[m G] be a finite group and  #[m V] a finite dimensional vector space over #[m \CC] of dimension #[m d].
                | A #[term representation] of  #[m G] is a homomorphism
                me G \xrightarrow\rho \Aut(V) \simeq \GL_d(\CC)
                | , #[m G] acts linearly on #[m V].


        p
            | Galois representations:
            | Let #[m G] be  a Galois group, possibly infinite.
            | #[m F] be a field,
            me G_F = \absgal F = \varprojlim_{L/F,\text{ fin. gal.}} \Gal L F
            | profinite compact and totally disconnected.

        p
            | Replace #[m V] with a finite free module over some topological ring #[m A]
            me \rho \colon G_F \to \GL_d(A)
            | a continuous homomorphism.
        example
            statement: p
                | #[m A = \CC] with the complex topology.
        fact
            statement: p
                | In this case #[m \im(\rho )] is finite.

        exercise
            statement: p
                | Prove this.


        p
            | Then we can write
            me.
                \xymatrix{
                G_F \ar[rr]^{\rho} \ar[dr] &amp; &amp; \GL_d(\CC) \\
                    &amp;  \Gal L F \ar[ur] &amp; 
                }
            | where #[m L/F] is finite.
            | There are many such representations.

        conjecture
            statement: p
                | Every finite group is a quotient of #[m G_\QQ].
        example
            statement: p
                me F= \QQ
                me L = \QQ(\sqrt[4]{2}, i)
                me \Gal L \QQ \simeq D_4
                me G_\QQ \to \Gal L \QQ \xrightarrow\rho  \GL_2(\CC)
                | with #[m \rho ] the unique irreducible 2-dimensional representation of #[m D_4].

        example
            statement: p
                | Let #[m E/\QQ] be an elliptic curve
                me G_\QQ \acts E\lb  p\rb \simeq \ZZ/p \oplus \ZZ/p
                me \rho _{E,p} \colon  G_\QQ \to \Aut(E\lb p\rb ) \simeq \GL_2(\FF_p)
                me \rho _{E,p^n} \colon  G_\QQ \to \Aut(E\lb p^n\rb ) \simeq \GL_2(\ZZ/p^n)
                me \rho _{E,p^\infty} \colon  G_\QQ \to \Aut(E\lb p^\infty\rb ) \simeq \GL_2(\ZZ_p)
                | .

        fact
            statement: p
                | #[m \rho _{E,p^\infty}] has finite image.

        exercise
            statement: p
                | Prove this.

        example
            statement: p
                | Let #[m F = \QQ_\ell], #[m A= \QQ_p]
                me \rho \colon  G_{\QQ_\ell} \to  \GL_d(\QQ_p)
                |.

        p
            | The Galois theory of local fields looks like
            me.
                \xymatrix{
                \overline{\QQ}_\ell \ar@{-}[d]^{I_{\ell}^w} \ar@{-}@/_3pc/[ddd]_{\mathrm{G}_\ell} \ar@{-}@/_1.75pc/[dd]^{I_{\ell}} &amp;       \\
                \QQ_\ell^\mathrm{tr} \ar@{-}[d]^{\prod_{q\ne \ell} \ZZ_q(1)}                                                                       &amp; \QQ_\ell^\ab     \\
                \QQ_\ell^\ur   \ar@{-}[d]^{\widehat \ZZ} \ar@{-}@/_1.5pc/[ur]_{\ZZ_\ell^*}                                                                  &amp;     \\
                \QQ_\ell                    &amp;
                }
            | where
            me \QQ_\ell^\mathrm{tr}= \QQ_\ell(\{\sqrt[n]{\ell}\}_{\ell\nmid n})
            | the maximal tamely ramified extension
            me \QQ_\ell^\ur = \QQ_\ell(\{\mu _{n}\}_{\ell\nmid n})
            | the maximal unramified extension
            me \QQ_\ell^\ab = \QQ_\ell^\un(\mu _{\ell^\infty })
            | the maximal abelian extension.
            me I_\ell = \Gal { \overline \QQ_\ell}{\QQ_\ell^\ur}
            | the intertia group
            me I^w_\ell = \Gal { \overline \QQ_\ell}{\QQ_\ell^\tamer}
            | the wild intertia group

        p
            | We say
            me \rho \colon  G_{\QQ_\ell} \to  \GL_d(\QQ_p)
            | is #[term unramified] if
            me \rho (I_\ell) = \{1\}
            | is #[term tamely ramified] if
            me \rho (I_\ell^w) = \{1\}
            | .
        p
            | In the first case #[m \rho ] is completely determined by #[m \rho (\Frob_\ell)].
            | In the second case #[m \rho ] is completely determined by #[m \rho (\Frob_\ell)] and its value on a generator of
            me \Gal {  \QQ_\ell^\tamer}{\QQ_\ell^\ur}
            |.
        p
            | The wild part:
            | #[m I_\ell^w] is pro-#[m \ell], #[m \GL_d(\ZZ_p)] is almost pro-#[m p] (it has a finite index pro-#[m p] subgroup).

        exercise
            statement: p
                | Prove this.
        example
            statement: p
                | For #[m d= 1]
                me \ZZ_p^* = \FF_p^* \times (1 + p\ZZ_p)
                |.
        p
            | Thus if #[m \ell \ne p] then
            me \rho (I_\ell^w)\subseteq \GL_d(\QQ_p)
            | is finite.

        exercise
            statement: p
                | Prove this.

        p
            | If #[m \ell = p] then this is handled by #[m p]-adic Hodge theory.

        p
            | The connection to global representations is then that
            me.
                \xymatrix{ \overline \QQ \ar[r] &amp; \overline \QQ_\ell \\
                    \QQ \ar[r]\ar[u] &amp;  \QQ_\ell\ar[u]}
        p
            | So
            me G_{\QQ_\ell} \hookrightarrow G_\QQ
            | via restriction to #[m \overline \QQ].

        p
            | The image of this map is the #[term decomposition group] at #[m \ell].
        p
            me \rho \colon G_\QQ \to \GL_d(A)
            | , we say that #[m \rho ] is #[term unramified at] #[m \ell] if
            me \rho (I_\ell) = \{1\}
            | .
        p
            | In which case
            me \operatorname{charpoly}(\rho (\Frob_\ell))
            | is well-defined.

        p
            | Returning to
            me \rho _{E,p^\infty} \colon  G_\QQ \to \GL_2(\QQ_p)
            | now.
        fact
            statement: p
                | #[m \rho _{E,p^\infty}] is unramified  outside of #[m N_E\cdot p] (#[m N_E] is the conductor of #[m E]).
                | i.e.
                me \rho _{E,p^\infty}
                | is unramified at #[m \ell] if and only if #[m \ell \ne p] and #[m \ell] is a prime of good reduction for #[m E].
        p
            | So #[m \rho _{E,p^\infty} ] sees bad reduction.

        p
            | From #[m \rho _{E,p^\infty} ]  you can recover #[m E] up to isogeny (Faltings).

        example
            statement: p
                me G_\QQ\acts \mu _{p^n}
                | so we get
                me G_\QQ \to \Aut(\mu _{p^n}) \simeq (\ZZ/p^n\ZZ)^* \simeq \GL_1(\ZZ/p^n)
                | taking the inverse limit we get
                me.
                    \xymatrix{
                    G_\QQ \ar[rr]^{\epsilon _p} \ar[dr] &amp; &amp; \ZZ_p^*\\
                        &amp;  \Gal {\QQ(\mu _{p^\infty })} \QQ  \ar[ur]_{\sim} &amp; 
                    }
                | this #[m \epsilon _p] is known as the #[m p]-adic cyclotomic character.
                | This is unramified outside #[m p] and
                me \epsilon _p (\Frob_\ell) = \ell
                | for #[m \ell \ne p].
        remark
            p
                me \det(\rho _{E,p^\infty}) =  \epsilon _p
                |.

        example
            statement: p
                me f = \sum a_nq^n \in S_2(\Gamma _0(N), \QQ)
                | a weight 2 eigenform on #[m \Gamma _0(N)], with rational fourier coefficients.
                | Eichler-Shimura gives #[m E_f/\QQ] an elliptic curve.
                | Define
                me \rho _f = \rho _{E,p^\infty }\colon G_\QQ \to \GL_2(\QQ_p)
                | unramified outside #[m Np]
                me \trace(\rho (\Frob_\ell)) = a_\ell
                | for #[m \ell\nmid Np].
                | More generally
                me f  \in S_2(\Gamma _0(N))
                | an eigenform, Eichler-Shimura gives
                me A_f/\QQ
                |an abelian variety which leads to
                me \rho _f \colon G_\QQ \to \GL_2(K)
                | #[m K/\QQ_p] finite.

    subsection
        title Congruences and elliptic curves
        p
            | Let
            me E_1\colon  y^2 = x^3 + x - 10
            | conductor #[m 2^2 \cdot13], #[url(href="https://www.lmfdb.org/EllipticCurve/Q/52a1/")/]
            me E_2\colon  y^2 = x^3 -584 x + 5444
            | conductor #[m 2^2 \cdot7\cdot13], #[url(href="https://www.lmfdb.org/EllipticCurve/Q/364a1/")/].
        table
            title #[m a_p]'s for #[m E_1,E_2]
            tabular(top="major",left="major",right="major",bottom="major")
                | #[col(right="minor")/] #[col/]      #[col/]      #[col/]      #[col/]      #[col/]      #[col/]       #[col/]       #[col/]      #[col/]        #[col/]       #[col/]
                row(bottom="minor")      #[cell: m p] #[cell: m 2] #[cell: m 3] #[cell: m 5] #[cell: m 7] #[cell: m 11] #[cell: m 13] #[cell: m 17] #[cell: m 19] #[cell: m 23] #[cell: m 29]
                row #[cell: m a_p(E_1)] #[cell 0] #[cell: m 0] #[cell: m 2] #[cell: m -2] #[cell: m -2] #[cell: m -1] #[cell: m 6] #[cell: m -6] #[cell: m 8] #[cell: m 2]
                row #[cell: m a_p(E_2)] #[cell 0] #[cell: m 0] #[cell: m -3] #[cell: m 1] #[cell: m -2] #[cell: m -1] #[cell: m -4] #[cell: m -1] #[cell: m -7] #[cell: m 7]

        p
            | Note that
            me a_\ell(E_1) \equiv  a_\ell(E_2) \pmod 5,\,\forall \ell \ne 7
            me \implies \rho _{E_1, 5} \simeq\rho _{E_2, 5} ( = \bar \rho )
            | as Galois representations.
        exercise: statement: p Prove this.

        p
            | How common is this?
            | We have 2 lifts of #[m \bar \rho ]
            me \rho _{E_1, 5^\infty } \simeq\rho _{E_2, 5^\infty }
            | how many other such?


    subsection
        title Hida theory

        p
            me \sum a_n(f) q^n = f \in S_{k_0} (\Gamma _0(N))
            | an eigenform.
            me a_p(f)
            | a #[m p]-adic unit.

            me \mathscr F =  \sum_{n=1}^\infty  a_n(k) q^n
            | with #[m a_n] a #[m p]-adic analytic function in #[m k].
            | The whole family gives Galois representations that reduce to the same #[m \bar\rho ].

        p
            | Specialise #[m k] to some integer #[m w]
            me \mathscr F = \sum a_n(w) q^n  \in S_w (\Gamma _0(N))
            | take #[m w= k_0] to recover #[m f].

        p
            | Hida constructs
            me \rho ^{Hida}\colon G_\QQ \to \GL_2(\ZZ_p\lb \lb x\rb \rb )
            | unramified outside #[m Np].
            me \ell \nmid Np \implies \tr(\rho^{Hida} (\Frob_\ell)) = a_\ell(x)
            |.
    aside: p Lecture 3 28/1/2018

    subsection
        title More examples of Galois representations in families

        paragraphs
            title A 1-dimensional family
            p
                | let
                me \epsilon _p = \text{cyclotomic character}
                me \epsilon _p\colon  G_\QQ \to \Gal{\QQ(\mu _{p^\infty })}{\QQ} \simeq \ZZ_p^* \simeq \FF_p^* \times (1+p\ZZ_p)
            p
                | If we have #[m k \in \ZZ] we can take
                me \epsilon _p^k
                | its power.

            p
                | Note that when #[m k_1,k_2\in \ZZ] with
                me k_1\equiv k_2 \pmod{p-1}
                | then
                me \epsilon _p^{k_1} \equiv   \epsilon _p^{k_2} \pmod{p}
                | moreover if
                me k_1\equiv k_2 \pmod{(p-1)p^N}
                |we havee
                me \epsilon _p^{k_1} \equiv   \epsilon _p^{k_2} \pmod{p^{N+1}}
                | .

            p
                | Set
                me \Lambda = \ZZ_p\lb \lb \ZZ_p^*\rb \rb  = \varprojlim \ZZ_p\lb (\ZZ/p^N)^*\rb 
                me \epsilon _p^{univ}\colon G_\QQ \to \Lambda ^* = \GL_1(\Lambda )
                me \sigma \mapsto \lb  epsilon _p(\sigma ) \rb 
                me \Lambda  \xrightarrow{wt_k} \ZZ_p
                me wt_k \circ \epsilon _p^{univ}
                | where #[m wt_k] is defined by
                me \ZZ_p^* \to \ZZ_p^* \subseteq \ZZ_p
                me x \mapsto x^k
                | gives
                me \Lambda  \xrightarrow{wt_k} \ZZ_p
                |.
            p
                | Take any
                me \phi \in \Hom_{cts}(\Lambda , \CC_p)\simeq \Hom_{cts}(\ZZ_p^*, \CC_p)
                | induces
                me G_\QQ \to \CC_p^*
                me \phi \circ \epsilon _p^{univ}
                | .
            p
                me \Hom_{cts}(\ZZ_p^*, \CC_p)
                | is a union of #[m p-1] open disks as
                me \ZZ_p^* \simeq \FF_p^* \times (1+p\ZZ_p)
                | the rightmost factor is topologically generated by #[m 1+p].
                | So
                me \phi \colon  \ZZ_p^* \to \CC_p^*
                | is determined by
                me \phi |_{\FF_p^*}
                | and
                me \phi (\gamma ) \text{ for any } \gamma  \text{ a top. gen.}
                | .
            p
                | We need
                me |\phi (\gamma )-1|_p \lt   1
                |.
            p
                | We have #[m p-1] disks labelled by characters of #[m \FF_p^*].
                | On each disk of #[m \phi \in \Hom(\ZZ_p^*, \CC_p^*)] the reduction of
                me \phi \circ \epsilon _p^{univ} \colon G_\QQ \to \CC_p^*
                | is the same.

        paragraphs
            title A 2-d example
            p
                | Let #[m E/\QQ] be a CM elliptic curve.
                me \rho_{E,p^\infty } \colon G_\QQ \to \GL_2(\ZZ_p)
                | then there exists #[m K/\QQ] quadratic imaginary field and
                | , #[m p]-ordinary
                me \psi \colon G_K \to \ZZ_p^*
                | s.t.
                me \rho_{E,p^\infty } \simeq \Ind_K^\QQ(\psi )
                | .

            p
                | So we get a #[q family]
                me \Ind_K^\QQ(\psi ^k)
                | , more generally can make
                me \psi ^{univ} \colon G_K \to \Lambda ^*
                me \Ind \psi ^{univ} \colon G_K \to \GL_2(\Lambda )
                | .
                | CM Hida family.

    subsection
        title Deformation theory

        p
            | #[m G] a profinite group, #[m k] a finite field of characteristic #[m p] (simpler #[m k = \FF_p]).
            me \bar \rho \colon G \to \GL_d(k)
            | a continuous homomorphism.

        p
            | To lift #[m \bar \rho  ] to be #[m A]-valued, we need a homomorphism
            me A \twoheadrightarrow k
            | we may as well assume #[m A ] is local so it lifts to #[m GL_d(A)].
            | We then only have one residual representation.
            | Localize it at
            me \ker(A\to k)
            | .
        p
            | If #[m A] is a local ring then #[m A] has a natural topology.
            | Letting #[m \ideal m _A] be the maximal ideal
            me \{\ideal m_A^j\}
            | is a neighborhood base at 0, this is the #[m \ideal m]-adic topology.
        p
            | So we have #[m A] local, #[m \ideal m_A] maximal #[m A/\ideal m_A \simeq k], we need to fix this identification to ensure we don't have automorphisms.
            me.
                \xymatrix{
                G \ar[r]^{\rho } \ar[dr]_{\bar\rho }&amp; \GL_d(A)\ar[d]\\
                    &amp; \GL_d(k)
                }
            |.
        note
            statement: p
                | If we have #[m M\in \GL_d(A)]  s.t. #[m M\equiv 1 \pmod {\ideal m_A}], then
                me M\rho M\inv
                | lifts #[m \bar\rho ] also.
        definition
            statement: p
                | Call #[m \rho ] and #[m M \rho M\inv ] #[term strictly equivalent].

        definition
            statement: p
                | A #[term deformation of <m>\bar\rho</m> to A] is a strict equivalence class of continuous homomorphisms
                me G \xrightarrow{\rho } \GL_d(A)
                | lifting #[m \bar \rho ].

        p
            | Want to rephrase this with less bases, instead of #[m \bar \rho ] use #[m \overline V] a #[m d]-dimensional continuous representation of #[m G] over #[m k].
            | #[m V] a free #[m A]-module of rank #[m d] with continuous action of #[m G] s.t.
            me V\otimes A/\ideal m _A \simeq \overline V
            | .
        p
            |Naive hope: two such #[m V]'s are equivalent if they are isomorphic as #[m G]-modules.
        p
            | Problem: #[m R^{univ}] won't exist, too many automorphisms.
            | Ideally if #[m V_A] is a deformation of #[m \overline V] to #[m A] then there exists a unique
            me R^{univ} \to A
            | inducing 
            me V^{univ } \to V_A
            | .
        p
            | Take II, let #[m V] be a free #[m A]-module with a continuous action of #[m G] and a fixed isomorphism.
            me V\otimes _A A/\ideal m _A \simeq \overline V
            | as representations of #[m G] over #[m k\simeq A/\ideal m_A].

        p
            | Two #[m V]'s are equivalent if there exists a #[m G]-module isomorphism #[m V_1\xrightarrow\phi V_2] s.t.
            me.
                \xymatrix{
                V_1\ar[r]^\phi\ar[d]  &amp; V_2\ar[d] \\
                V_1\otimes A/\ideal m_A\ar[d]_\sim  &amp; V_2\otimes A/\ideal m_A \ar[d]_sim \\
                \overline V\ar[r]^=  &amp;\overline V 
                }
            |.
        exercise
            statement: p
                | Check the two definitions are the same, #[m \GL_d] definition vs. #[m \overline V].


        p
            | Another approach
            me.
                \xymatrix{
                G \ar[r]^{\rho } \ar[dr]_{\bar\rho }&amp; \GL_d(A)\ar[d]\\
                    &amp; \GL_d(k)
                }

            | lift of #[m \bar \rho ] and say two #[m \rho ]'s are the same if they are equal as maps, this is a #[term framed deformation].
            | We can write this more abstractly
            me \overline V
            | a continuous representation of #[m G] over #[m k] with fixed basis #[m \beta ].
            me  V
            | a free #[m A] module with cont. action of #[m G] and a fixed isom.
            me V\otimes_A A/\ideal m_D \simeq \overline V
            | and a basis #[m \beta _A] lifting #[m \beta ].
        p
            | Categories
            me \mathcal C_k =\mathcal C
            | the category of complete local Noetherian rings #[m A] with a fixed isomorphism #[m A/\ideal m_A \simeq k].
            | Where the maps are 
            me A_1\xrightarrow\phi A_2
            | a local ring homomorphism
            me \phi (\ideal m_{A_1}) \subseteq \ideal m_{A_2}
            | and the diagram
            me.
                \xymatrix{
                A_1/\ideal m_{A_1} \ar[rr]^{\bar \phi } \ar[dr]_\sim &amp; &amp; A_2/\ideal m_{A_2}\ar[dl]^\sim \\
                    &amp;  k &amp; 
                }
            | commutes.
