introduction
    p.
        These are notes for Robert Pollack's course MA842 at BU Spring 2020.
    p.
        The course webpage is #[url(href="http://math.bu.edu/people/rpollack/Teach/842spring2020.html")/].



section#sec-def-gal-motivation
    title Motivation

    introduction
        aside: p Lecture 1 21/1/2020
        p
            | Let #[m E_k] denote the Eisenstein series of weight #[m k], #[m k\gt 2].
            me E_k = \frac{-B_{k}}{2k} + \sum_{n=1}^\infty \sigma _{k-1} (n) q^n \in M_k(\SL_2(\ZZ))
            | . Where #[m B_k] are the Bernoulli numbers and
            me \sigma _{k-1} (n)  = \sum_{d|n,\, d\gt 0} d^{k-1}
            | .
        p
            | #[m E_2] however is not holomorphic, so not a modular form.
        p
            | Fix #[m N] a prime, notation has stuck from Mazur's Eisenstein ideal paper.

        p
            | Then there exists a unique Eisenstein series on #[m \Gamma _0(N)] of weight 2.
            me E_2^{(N)} = \frac{N-1}{12} + \sum_{n=1}^\infty  \sigma (n) q^n
            | .
        p
            | Funny observation: if #[m N \equiv  1 \pmod p] for prime #[m p \gt 3].
            | Then #[m p | ((N-1)/12)], so #[m E_2^{(N)}] #[q looks cuspidal].
        p
            | Then we hope that there exists a cuspidal eigenform #[m f \in S_2(\Gamma _0(N))] such that
            me f \equiv  E_2^{(N)} \qquad``{\mod p} ''
            | .
        p
            | This is in fact true, due to Koike in the 70's, there exists #[m f \in S_2(\Gamma _0(N))] such that
            me a_\ell (f) \equiv  1+ \ell \pmod p
            | for all #[m \ell \ne N,p].
            //| Koike, Masao. “Congruences between Cusp Forms and Linear Representations of the Galois Group.” Nagoya Mathematical Journal 64 (1976): 63–85. https://projecteuclid.org/euclid.nmj/1118796081.
        question
            statement
                p
                    | How many such #[m f] are there?
        p
            | Merel '96:
            me f \text{ is unique} \iff \prod_{i=1}^{(N-1)/2} i^i  \text{ is not a }p\text{-th power modulo }N
            | .
        p
            | Wake and Wang-Erickson describe the dimension of the space of such #[m f] using Massey products (higher cup products).

        p
            | Method: Galois deformations!


    subsection
        title Galois representations

        p
            | We write
            me G_{\QQ} = \absgal{\QQ} = \varprojlim_{F/\QQ,\text{fin. galois}} \Gal F\QQ
            | a profinite group.

        p
            me \rho  \colon  G_{\QQ} \to \GL_2 (\QQ_p)
            | a continuous homomorphism.
            | Then view #[m \GL_2(\QQ_p)] as  #[m \Aut(V)] for a 2-dimensional #[m \QQ_p] vector space and fix a  2-dimensional #[m \ZZ_p]-lattice
            me T \subseteq V
            | which is #[m G_{\QQ}] stable.
            | Then we can take
            me \bar \rho \colon G_\QQ \to \GL_2(\FF_p)
            | this is unique (w.r.t. the choice of #[m T]) only up to semisimplification.

        p
            | So we say two Galois representations #[m \rho _1,\rho _2] are congruent if
            me \bar \rho _1^\semis \simeq \bar \rho _2^\semis
            | .

        p
            | We say #[m \rho _1,\rho _2] are deformations of
            me \bar \rho _1= \bar \rho _2
            | (imagine this is reducible).
        p
            | Start with
            me \bar \rho  \colon G_\QQ \to \GL_2(\FF_p)
            | consider #[q all] deformations of #[m \bar\rho  ] in good cases there exists a #[q universal] deformation of #[m \bar \rho ].

        p
            | #[m R^{\mathrm{univ}}] a local ring with maximal ideal #[m \ideal m_R] such that
            me R/\ideal m_R = \FF_p
            | .
        p
            me \rho ^{\mathrm{univ}} \colon G_\QQ \to \GL_2(R^{\mathrm{univ}})
            | such that if #[m \rho  \colon  G_\QQ \to GL_2(R)] is a deformation of #[m \bar \rho ] then there exists
            me R^{\mathrm{univ}} \to R
            | such that
            me.
                \xymatrix{
                G_\QQ \ar[r]^{\rho ^{\mathrm{univ}}} \ar[dr]_\rho &amp; \GL_2(R^{\mathrm{univ}})\ar[d] \\
                 &amp;  GL_2(R)
                }

            | .

    subsection
        title Modular forms

        p
            me f = \sum a_n q^n \in S_k(\Gamma _0(N))
            | an eigenform leads to
            me \rho _f \colon G_\QQ \to \GL_2(K),\,K/\QQ_p \text{ finite}
            | with the property that for all #[m \ell \nmid Np] we have
            me \trace(\rho _f(\Frob_\ell)) = a_\ell
            | .
        p
            | Modular forms can be congruent
            me a_\ell (f_1) \equiv  a_\ell(f_2) \pmod p \text{ for all but finitely many } \ell
            me \Updownarrow
            me \bar \rho _{f_1}^\semis\simeq \bar \rho _{f_2}^\semis
            |.

        p
            | There exists a ring, the Hecke algebra #[m \mathbf T] parametrizing all #[m f]'s with the same #[m \bar \rho ].
            me f \leadsto \rho _f \implies R^{\mathrm{univ}} \to \mathbf T
            | so hope
            me R^{\mathrm{univ}} \simeq \mathbf T
            | .

        p
            | Wiles proof of FLT proved one of these.

        p
            | Many more such theorems in the past couple of decades.

        p
            | Wake and Wang-Erickson  show that the dimension of
            me \{ f : f \equiv E_2^{(N)}\} \leftrightarrow \rank \mathbf T = \rank R^{\mathrm{univ}}
            | .
        p
            me a_\ell(f) \equiv  1+ \ell \pmod p
            me \implies \bar \rho ^\semis = \mathbf 1 \oplus \mathbf \mu _p
            | but there does not exist #[m R^{\mathrm{univ}}] in this context.
        p
            | The fix is to use pseudorepresentations instead of representations.

    subsection
        title Pseudorepresentations

        p
            | Let #[m G] be a group.
        p
            | Then a pseudorepresentation #[m T] is a map
            me T\colon G \to A
            | for #[m A] a ring satisfying
            ol
                li
                    me T(xy) = T(yx)
                li
                    me T(x)T(y)T(z) - T(x)T(yz) - T(y)T(xz) - T(z)T(xy) + T(xyz) + T(xzy) = 0

            | and the analogous formulae for higher dimensions.

        fact
            statement: p
                | If #[m A] is an algebraically closed field of characteristic #[m \ne 2].
                | Then for a given pseudorepresentation #[m T] there exists a true representation #[m \rho ] such that
                me T = \trace(\rho )
                | .
        p
            | But this does not hold in general.

        p
            | Universal pseudodeformation rings always exist.
            | Wake and Wang-Erickson use #[m R^{\mathrm{univ}} =] universal pseudodeformation ring.

section#sec-def-gal-defs
    title Definitions


    subsection
        title Representations
        aside: p Lecture 2 23/1/2020

        definition#def-def-gal-rep
            title Representations
            statement: p
                | Let #[m G] be a finite group and  #[m V] a finite dimensional vector space over #[m \CC] of dimension #[m d].
                | A #[term representation] of  #[m G] is a homomorphism
                me G \xrightarrow\rho \Aut(V) \simeq \GL_d(\CC)
                | , #[m G] acts linearly on #[m V].


        p
            | Galois representations:
            | Let #[m G] be  a Galois group, possibly infinite.
            | #[m F] be a field,
            me G_F = \absgal F = \varprojlim_{L/F,\text{ fin. gal.}} \Gal L F
            | profinite compact and totally disconnected.

        p
            | Replace #[m V] with a finite free module over some topological ring #[m A]
            me \rho \colon G_F \to \GL_d(A)
            | a continuous homomorphism.
        example
            statement: p
                | #[m A = \CC] with the complex topology.
        fact
            statement: p
                | In this case #[m \im(\rho )] is finite.

        exercise
            statement: p
                | Prove this.


        p
            | Then we can write
            me.
                \xymatrix{
                G_F \ar[rr]^{\rho} \ar[dr] &amp; &amp; \GL_d(\CC) \\
                    &amp;  \Gal L F \ar[ur] &amp; 
                }
            | where #[m L/F] is finite.
            | There are many such representations.

        conjecture
            statement: p
                | Every finite group is a quotient of #[m G_\QQ].
        example
            statement: p
                me F= \QQ
                me L = \QQ(\sqrt[4]{2}, i)
                me \Gal L \QQ \simeq D_4
                me G_\QQ \to \Gal L \QQ \xrightarrow\rho  \GL_2(\CC)
                | with #[m \rho ] the unique irreducible 2-dimensional representation of #[m D_4].

        example
            statement: p
                | Let #[m E/\QQ] be an elliptic curve
                me G_\QQ \acts E\lb  p\rb \simeq \ZZ/p \oplus \ZZ/p
                me \rho _{E,p} \colon  G_\QQ \to \Aut(E\lb p\rb ) \simeq \GL_2(\FF_p)
                me \rho _{E,p^n} \colon  G_\QQ \to \Aut(E\lb p^n\rb ) \simeq \GL_2(\ZZ/p^n)
                me \rho _{E,p^\infty} \colon  G_\QQ \to \Aut(E\lb p^\infty\rb ) \simeq \GL_2(\ZZ_p)
                | .

        fact
            statement: p
                | #[m \rho _{E,p^\infty}] has finite image.

        exercise
            statement: p
                | Prove this.

        example
            statement: p
                | Let #[m F = \QQ_\ell], #[m A= \QQ_p]
                me \rho \colon  G_{\QQ_\ell} \to  \GL_d(\QQ_p)
                |.

        p
            | The Galois theory of local fields looks like
            me.
                \xymatrix{
                \overline{\QQ}_\ell \ar@{-}[d]^{I_{\ell}^w} \ar@{-}@/_3pc/[ddd]_{\mathrm{G}_\ell} \ar@{-}@/_1.75pc/[dd]^{I_{\ell}} &amp;       \\
                \QQ_\ell^\mathrm{tr} \ar@{-}[d]^{\prod_{q\ne \ell} \ZZ_q(1)}                                                                       &amp; \QQ_\ell^\ab     \\
                \QQ_\ell^\ur   \ar@{-}[d]^{\widehat \ZZ} \ar@{-}@/_1.5pc/[ur]_{\ZZ_\ell^*}                                                                  &amp;     \\
                \QQ_\ell                    &amp;
                }
            | where
            me \QQ_\ell^\mathrm{tr}= \QQ_\ell(\{\sqrt[n]{\ell}\}_{\ell\nmid n})
            | the maximal tamely ramified extension
            me \QQ_\ell^\ur = \QQ_\ell(\{\mu _{n}\}_{\ell\nmid n})
            | the maximal unramified extension
            me \QQ_\ell^\ab = \QQ_\ell^\un(\mu _{\ell^\infty })
            | the maximal abelian extension.
            me I_\ell = \Gal { \overline \QQ_\ell}{\QQ_\ell^\ur}
            | the intertia group
            me I^w_\ell = \Gal { \overline \QQ_\ell}{\QQ_\ell^\tamer}
            | the wild intertia group

        p
            | We say
            me \rho \colon  G_{\QQ_\ell} \to  \GL_d(\QQ_p)
            | is #[term unramified] if
            me \rho (I_\ell) = \{1\}
            | is #[term tamely ramified] if
            me \rho (I_\ell^w) = \{1\}
            | .
        p
            | In the first case #[m \rho ] is completely determined by #[m \rho (\Frob_\ell)].
            | In the second case #[m \rho ] is completely determined by #[m \rho (\Frob_\ell)] and its value on a generator of
            me \Gal {  \QQ_\ell^\tamer}{\QQ_\ell^\ur}
            |.
        p
            | The wild part:
            | #[m I_\ell^w] is pro-#[m \ell], #[m \GL_d(\ZZ_p)] is almost pro-#[m p] (it has a finite index pro-#[m p] subgroup).

        exercise
            statement: p
                | Prove this.
        example
            statement: p
                | For #[m d= 1]
                me \ZZ_p^* = \FF_p^* \times (1 + p\ZZ_p)
                |.
        p
            | Thus if #[m \ell \ne p] then
            me \rho (I_\ell^w)\subseteq \GL_d(\QQ_p)
            | is finite.

        exercise
            statement: p
                | Prove this.

        p
            | If #[m \ell = p] then this is handled by #[m p]-adic Hodge theory.

        p
            | The connection to global representations is then that
            me.
                \xymatrix{ \overline \QQ \ar[r] &amp; \overline \QQ_\ell \\
                    \QQ \ar[r]\ar[u] &amp;  \QQ_\ell\ar[u]}
        p
            | So
            me G_{\QQ_\ell} \hookrightarrow G_\QQ
            | via restriction to #[m \overline \QQ].

        p
            | The image of this map is the #[term decomposition group] at #[m \ell].
        p
            me \rho \colon G_\QQ \to \GL_d(A)
            | , we say that #[m \rho ] is #[term unramified at] #[m \ell] if
            me \rho (I_\ell) = \{1\}
            | .
        p
            | In which case
            me \operatorname{charpoly}(\rho (\Frob_\ell))
            | is well-defined.

        p
            | Returning to
            me \rho _{E,p^\infty} \colon  G_\QQ \to \GL_2(\QQ_p)
            | now.
        fact
            statement: p
                | #[m \rho _{E,p^\infty}] is unramified  outside of #[m N_E\cdot p] (#[m N_E] is the conductor of #[m E]).
                | i.e.
                me \rho _{E,p^\infty}
                | is unramified at #[m \ell] if and only if #[m \ell \ne p] and #[m \ell] is a prime of good reduction for #[m E].
        p
            | So #[m \rho _{E,p^\infty} ] sees bad reduction.

        p
            | From #[m \rho _{E,p^\infty} ]  you can recover #[m E] up to isogeny (Faltings).

        example
            statement: p
                me G_\QQ\acts \mu _{p^n}
                | so we get
                me G_\QQ \to \Aut(\mu _{p^n}) \simeq (\ZZ/p^n\ZZ)^* \simeq \GL_1(\ZZ/p^n)
                | taking the inverse limit we get
                me.
                    \xymatrix{
                    G_\QQ \ar[rr]^{\epsilon _p} \ar[dr] &amp; &amp; \ZZ_p^*\\
                        &amp;  \Gal {\QQ(\mu _{p^\infty })} \QQ  \ar[ur]_{\sim} &amp; 
                    }
                | this #[m \epsilon _p] is known as the #[m p]-adic cyclotomic character.
                | This is unramified outside #[m p] and
                me \epsilon _p (\Frob_\ell) = \ell
                | for #[m \ell \ne p].
        remark
            p
                me \det(\rho _{E,p^\infty}) =  \epsilon _p
                |.

        example
            statement: p
                me f = \sum a_nq^n \in S_2(\Gamma _0(N), \QQ)
                | a weight 2 eigenform on #[m \Gamma _0(N)], with rational fourier coefficients.
                | Eichler-Shimura gives #[m E_f/\QQ] an elliptic curve.
                | Define
                me \rho _f = \rho _{E,p^\infty }\colon G_\QQ \to \GL_2(\QQ_p)
                | unramified outside #[m Np]
                me \trace(\rho (\Frob_\ell)) = a_\ell
                | for #[m \ell\nmid Np].
                | More generally
                me f  \in S_2(\Gamma _0(N))
                | an eigenform, Eichler-Shimura gives
                me A_f/\QQ
                |an abelian variety which leads to
                me \rho _f \colon G_\QQ \to \GL_2(K)
                | #[m K/\QQ_p] finite.

    subsection
        title Congruences and elliptic curves
        p
            | Let
            me E_1\colon  y^2 = x^3 + x - 10
            | conductor #[m 2^2 \cdot13], #[url(href="https://www.lmfdb.org/EllipticCurve/Q/52a1/")/]
            me E_2\colon  y^2 = x^3 -584 x + 5444
            | conductor #[m 2^2 \cdot7\cdot13], #[url(href="https://www.lmfdb.org/EllipticCurve/Q/364a1/")/].
        table
            title #[m a_p]'s for #[m E_1,E_2]
            tabular(top="major",left="major",right="major",bottom="major")
                | #[col(right="minor")/] #[col/]      #[col/]      #[col/]      #[col/]      #[col/]      #[col/]       #[col/]       #[col/]      #[col/]        #[col/]       #[col/]
                row(bottom="minor")      #[cell: m p] #[cell: m 2] #[cell: m 3] #[cell: m 5] #[cell: m 7] #[cell: m 11] #[cell: m 13] #[cell: m 17] #[cell: m 19] #[cell: m 23] #[cell: m 29]
                row #[cell: m a_p(E_1)] #[cell 0] #[cell: m 0] #[cell: m 2] #[cell: m -2] #[cell: m -2] #[cell: m -1] #[cell: m 6] #[cell: m -6] #[cell: m 8] #[cell: m 2]
                row #[cell: m a_p(E_2)] #[cell 0] #[cell: m 0] #[cell: m -3] #[cell: m 1] #[cell: m -2] #[cell: m -1] #[cell: m -4] #[cell: m -1] #[cell: m -7] #[cell: m 7]

        p
            | Note that
            me a_\ell(E_1) \equiv  a_\ell(E_2) \pmod 5,\,\forall \ell \ne 7
            me \implies \rho _{E_1, 5} \simeq\rho _{E_2, 5} ( = \bar \rho )
            | as Galois representations.
        exercise: statement: p Prove this.

        p
            | How common is this?
            | We have 2 lifts of #[m \bar \rho ]
            me \rho _{E_1, 5^\infty } \simeq\rho _{E_2, 5^\infty }
            | how many other such?


    subsection
        title Hida theory

        p
            me \sum a_n(f) q^n = f \in S_{k_0} (\Gamma _0(N))
            | an eigenform.
            me a_p(f)
            | a #[m p]-adic unit.

            me \mathscr F =  \sum_{n=1}^\infty  a_n(k) q^n
            | with #[m a_n] a #[m p]-adic analytic function in #[m k].
            | The whole family gives Galois representations that reduce to the same #[m \bar\rho ].

        p
            | Specialise #[m k] to some integer #[m w]
            me \mathscr F = \sum a_n(w) q^n  \in S_w (\Gamma _0(N))
            | take #[m w= k_0] to recover #[m f].

        p
            | Hida constructs
            me \rho ^{Hida}\colon G_\QQ \to \GL_2(\ZZ_p\lb \lb x\rb \rb )
            | unramified outside #[m Np].
            me \ell \nmid Np \implies \tr(\rho^{Hida} (\Frob_\ell)) = a_\ell(x)
            |.

    subsection
        title More examples of Galois representations in families
        aside: p Lecture 3 28/1/2020

        paragraphs
            title A 1-dimensional family
            p
                | let
                me \epsilon _p = \text{cyclotomic character}
                me \epsilon _p\colon  G_\QQ \to \Gal{\QQ(\mu _{p^\infty })}{\QQ} \simeq \ZZ_p^* \simeq \FF_p^* \times (1+p\ZZ_p)
            p
                | If we have #[m k \in \ZZ] we can take
                me \epsilon _p^k
                | its power.

            p
                | Note that when #[m k_1,k_2\in \ZZ] with
                me k_1\equiv k_2 \pmod{p-1}
                | then
                me \epsilon _p^{k_1} \equiv   \epsilon _p^{k_2} \pmod{p}
                | moreover if
                me k_1\equiv k_2 \pmod{(p-1)p^N}
                |we have
                me \epsilon _p^{k_1} \equiv   \epsilon _p^{k_2} \pmod{p^{N+1}}
                | .

            p
                | Set
                me \Lambda = \ZZ_p\lb \lb \ZZ_p^*\rb \rb  = \varprojlim \ZZ_p\lb (\ZZ/p^N)^*\rb 
                me \epsilon _p^{univ}\colon G_\QQ \to \Lambda ^* = \GL_1(\Lambda )
                me \sigma \mapsto \lb  \epsilon _p(\sigma ) \rb 
                me \Lambda  \xrightarrow{wt_k} \ZZ_p
                me wt_k \circ \epsilon _p^{univ}
                | where #[m wt_k] is defined by
                me \ZZ_p^* \to \ZZ_p^* \subseteq \ZZ_p
                me x \mapsto x^k
                | gives
                me \Lambda  \xrightarrow{wt_k} \ZZ_p
                |.
            p
                | Take any
                me \phi \in \Hom_{cts}(\Lambda , \CC_p)\simeq \Hom_{cts}(\ZZ_p^*, \CC_p)
                | induces
                me G_\QQ \to \CC_p^*
                me \phi \circ \epsilon _p^{univ}
                | .
            p
                me \Hom_{cts}(\ZZ_p^*, \CC_p)
                | is a union of #[m p-1] open disks as
                me \ZZ_p^* \simeq \FF_p^* \times (1+p\ZZ_p)
                | the rightmost factor is topologically generated by #[m 1+p].
                | So
                me \phi \colon  \ZZ_p^* \to \CC_p^*
                | is determined by
                me \phi |_{\FF_p^*}
                | and
                me \phi (\gamma ) \text{ for any } \gamma  \text{ a top. gen.}
                | .
            p
                | We need
                me |\phi (\gamma )-1|_p \lt   1
                |.
            p
                | We have #[m p-1] disks labelled by characters of #[m \FF_p^*].
                | On each disk of #[m \phi \in \Hom(\ZZ_p^*, \CC_p^*)] the reduction of
                me \phi \circ \epsilon _p^{univ} \colon G_\QQ \to \CC_p^*
                | is the same.

        paragraphs
            title A 2-d example
            p
                | Let #[m E/\QQ] be a CM elliptic curve.
                me \rho_{E,p^\infty } \colon G_\QQ \to \GL_2(\ZZ_p)
                | then there exists #[m K/\QQ] quadratic imaginary field and, if #[m p] is an ordinary prime
                me \psi \colon G_K \to \ZZ_p^*
                | s.t.
                me \rho_{E,p^\infty } \simeq \Ind_K^\QQ(\psi )
                | .

            p
                | So we get a #[q family]
                me \Ind_K^\QQ(\psi ^k)
                | , more generally can make
                me \psi ^{univ} \colon G_K \to \Lambda ^*
                me \Ind \psi ^{univ} \colon G_K \to \GL_2(\Lambda )
                | .
                | CM Hida family.

    subsection
        title Deformation theory

        p
            | #[m G] a profinite group, #[m k] a finite field of characteristic #[m p] (simpler #[m k = \FF_p]).
            me \bar \rho \colon G \to \GL_d(k)
            | a continuous homomorphism.

        p
            | To lift #[m \bar \rho  ] to be #[m A]-valued, we need a homomorphism
            me A \twoheadrightarrow k
            | we may as well assume #[m A ] is local so it lifts to #[m GL_d(A)].
            | We then only have one residual representation.
            | Localize it at
            me \ker(A\to k)
            | .
        p
            | If #[m A] is a local ring then #[m A] has a natural topology.
            | Letting #[m \ideal m _A] be the maximal ideal
            me \{\ideal m_A^j\}
            | is a neighborhood base at 0, this is the #[m \ideal m]-adic topology.
        p
            | So we have #[m A] local, #[m \ideal m_A] maximal #[m A/\ideal m_A \simeq k], we need to fix this identification to ensure we don't have automorphisms.
            me.
                \xymatrix{
                G \ar[r]^{\rho } \ar[dr]_{\bar\rho }&amp; \GL_d(A)\ar[d]\\
                    &amp; \GL_d(k)
                }
            |.
        note
            p
                | If we have #[m M\in \GL_d(A)]  s.t. #[m M\equiv 1 \pmod {\ideal m_A}], then
                me M\rho M\inv
                | lifts #[m \bar\rho ] also.
        definition
            statement: p
                | Call #[m \rho ] and #[m M \rho M\inv ] #[term strictly equivalent].

        definition
            statement: p
                | A #[term deformation of <m>\bar\rho</m> to A] is a strict equivalence class of continuous homomorphisms
                me G \xrightarrow{\rho } \GL_d(A)
                | lifting #[m \bar \rho ].

        p
            | Want to rephrase this with less bases, instead of #[m \bar \rho ] use #[m \overline V] a #[m d]-dimensional continuous representation of #[m G] over #[m k].
            | #[m V] a free #[m A]-module of rank #[m d] with continuous action of #[m G] s.t.
            me V\otimes A/\ideal m _A \simeq \overline V
            | .
        p
            |Naive hope: two such #[m V]'s are equivalent if they are isomorphic as #[m G]-modules.
        p
            | Problem: #[m R^{univ}] won't exist, too many automorphisms.
            | Ideally if #[m V_A] is a deformation of #[m \overline V] to #[m A] then there exists a unique
            me R^{univ} \to A
            | inducing 
            me V^{univ } \to V_A
            | .
        p
            | Take II, let #[m V] be a free #[m A]-module with a continuous action of #[m G] and a fixed isomorphism.
            me V\otimes _A A/\ideal m _A \simeq \overline V
            | as representations of #[m G] over #[m k\simeq A/\ideal m_A].

        p
            | Two #[m V]'s are equivalent if there exists a #[m G]-module isomorphism #[m V_1\xrightarrow\phi V_2] s.t.
            me.
                \xymatrix{
                V_1\ar[r]^\phi\ar[d]  &amp; V_2\ar[d] \\
                V_1\otimes A/\ideal m_A\ar[d]_\sim  &amp; V_2\otimes A/\ideal m_A \ar[d]_\sim \\
                \overline V\ar[r]^{\id}  &amp;\overline V 
                }
            |.
        exercise
            statement: p
                | Check the two definitions are the same, #[m \GL_d] definition vs. #[m \overline V].


        p
            | Another approach
            me.
                \xymatrix{
                G \ar[r]^{\rho } \ar[dr]_{\bar\rho }&amp; \GL_d(A)\ar[d]\\
                    &amp; \GL_d(k) 
                }

            | lift of #[m \bar \rho ] and say two #[m \rho ]'s are the same if they are equal as maps, this is a #[term framed deformation].
            | We can write this more abstractly
            me \overline V
            | a continuous representation of #[m G] over #[m k] with fixed basis #[m \beta ].
            me  V
            | a free #[m A] module with cont. action of #[m G] and a fixed isom.
            me V\otimes_A A/\ideal m_D \simeq \overline V
            | and a basis #[m \beta _A] lifting #[m \beta ].
        p
            | Categories
            me \mathcal C_k =\mathcal C
            | the category of complete local Noetherian rings #[m A] with a fixed isomorphism #[m A/\ideal m_A \simeq k].
            | Where the maps are 
            me A_1\xrightarrow\phi A_2
            | a local ring homomorphism
            me \phi (\ideal m_{A_1}) \subseteq \ideal m_{A_2}
            | and the diagram
            me.
                \xymatrix{
                A_1/\ideal m_{A_1} \ar[rr]^{\bar \phi } \ar[dr]_\sim &amp; &amp; A_2/\ideal m_{A_2}\ar[dl]^\sim \\
                    &amp;  k &amp; 
                }
            | commutes.

        aside: p Lecture 4 30/1/2020

        p
            | Last time: multiplication by #[m c] on #[m R^{univ}] is not a ring map!


        exercise
            statement: p
                | Show that the #[q bad] definition of deformation (without fixing the isomorphism to #[m \overline V]) can't be representable.
        exercise
            statement: p
                | If #[m \Aut _G(\bar \rho )\supsetneq k^*] show that the correct definition of deformation doesn't lead to a representable functor.

        p
            | #[m k] finite field of characteristic #[m p].
            | #[m \mathcal C_k] category of complete local Noetherian rings with a fixed identification
            me A/\ideal m_A \simeq k
            | with #[m (A, \ideal m_A)] a local ring, maps are local homomorphisms preserving the fixed identification.

        paragraphs
            title Witt vectors
            p
                | #[m W(k)  = ] Witt vectors of #[m k] and an object of #[m \mathcal C_k].
                | The maximal ideal of #[m W(k)] is #[m pW(k)].
                me W(k)/ pW(k) \simeq k
                me W(k)^\times \to k^\times
                | this map has a section which is multiplicative.
                me [x]\mapsfrom x

                | .
            example
                statement: p
                    | If #[m k \simeq \FF_{q}], #[m q=p^n] then
                    me W(k) = \ints_{K_n},\, K_n = \QQ_p(\mu _{p^{n}-1})
                    | unramified extension with
                    me \ideal  m_{W(k)} = (p)
                    | take #[m x^{q-1}] and observe that its roots are distinct mod #[m p].
                    | For #[m W(\FF_p) \simeq \ZZ_p].
            p
                | #[m \bar x\in k], lift to #[m x\in W(k)]
                me \lim_{m\to \infty } x^{q^m} = [x]
                |. 
            exercise: statement: p Check this.

            p
                | #[m A\in \mathcal C_k] there exists a unique ring hom
                me.
                    \xymatrix{
                    W(k) \ar[r] \ar[d] &amp; A \ar[d]\\
                    k \ar[r]  &amp; A/\ideal m_A
                    }
                | #[m A] is a #[m W(k)]-module.

            p
                | Moreover, #[m A] is a quotient of #[m W(k)\lb \lb x_1, \ldots, \rb \rb ].
                | For  #[m A,A' \in \mathcal C_k]
                me A \xrightarrow\phi A'
                | in #[m \mathcal C_k] then #[m \phi ] is automatically #[m W(k)]-linear.

        paragraphs
            title Deformation functor
            p
                me \bar \rho  \colon  G \to \GL_d(k)
                me D_{\bar \rho} \colon \mathcal C_k \to \Set
                me A \mapsto \{\text{deformations of }\bar \rho  \text{ to } A\} = \{\rho \colon G \to \GL_d(A) \text{ lifting }\bar \rho \}/\text{strict equiv.}
                | .
            p
                | Given
                me R\in \mathcal C_k
                | we have
                me F_R \colon  \mathcal C_k \to \Set
                me A \mapsto \Hom (R, A)
                | .
            exercise: statement: p If #[m A\xrightarrow\phi A'] is a local ring Hom which is #[m W(k)]-linear then #[m \phi ] is a map in #[m \mathcal C_k].

        definition#def-gal-rep
            title Representable functors
            statement: p
                | Any functor
                me F \colon  \mathcal C_k \to \Set
                | is said to be representable if there exists  #[m R \in \mathcal C_k] such that
                me F \simeq F_R
                | .
        p
            | To say #[m D_{\bar \rho }] is representable says that
            me \exists R_{\bar \rho }^{univ} \in\mathcal C_k
            | such that
            me D_{\bar \rho } (A) \simeq \Hom(R_{\bar \rho }^{univ}, A)
            | which is functorial in #[m A].
        p
            | In this set-up take #[m A = R_{\bar \rho }^{univ}].
            | Then
            me D_{\bar \rho }(R_{\bar \rho }^{univ}) \simeq \Hom(R_{\bar \rho }^{univ},R_{\bar \rho }^{univ}) \ni \mathbf 1
            | so this corresponds to some #[m V^{univ}]

        p
            | Now given
            me \rho _A \colon G \to \GL_d(A) \simeq \Aut(V_A)
            | we have #[m \rho _A \in D_{\bar \rho }(A) \simeq \Hom(R_{\bar \rho }^{univ}, A)], so we get some #[m \phi \colon  R_{\bar \rho }^{univ} \to A].
            | Giving a diagram
            me.
                \xymatrix{
                D_{\bar \rho }(R_{\bar \rho }^{univ} ) \ar[r]^{\sim} \ar[d]_\phi  &amp; \Hom(R_{\bar \rho }^{univ}, R_{\bar \rho }^{univ})\ni \mathbf 1 \ar[d] \\
                D_{\bar \rho }(A                     ) \ar[r]^{\sim}              &amp; \Hom(R_{\bar \rho }^{univ}, A                    ) \ni \phi }
            | .

        paragraphs
            title Framed deformations
            p
                me  D_{\bar \rho }^{\square} (A)  = \{ \rho \colon G\to \GL_d(A)\text{ lifting }\bar \rho \}
                | we will prove that
                me D_{\bar \rho }^{\square}
                | is in fact representable.
            p
                me \bar \rho  \colon  G \to \GL_d(k)
                | we build 
                me R_{\bar \rho }^{\square, univ}
                | and
                me \rho _{\bar \rho }^{\square, univ} \colon G \to \GL_d(R_{\bar \rho }^{\square, univ})
                | .
            p
                | Let #[m \{ g_\alpha \}_\alpha ] be a generating set of #[m G].
                | Make formal variables #[m X_{ij}^\alpha ] for all #[m \alpha ], #[m 1 \le i,j \le d].
                me R = W(k) \lb \lb \{X_{ij}^\alpha \}\rb \rb 
                | try sending
                me g_\alpha  \mapsto (X_{ij}^\alpha ) \in M_d(R)
                | doesn't land in #[m \GL_d].
            p
                | So #[q add on <m> \bar \rho </m>].
                me k\to W(k)
                me x\mapsto [x]
                | so we get
                me \GL_d(k) \xrightarrow{\lb \cdot \rb } \GL_d(W(k))
                me \lb (a_{ij})_{ij} \rb \mapsto (\lb a_{ij}\rb )_{ij}
                | now send
                me g_\alpha  \mapsto (X_{ij}^\alpha ) + \lb \bar \rho (g_\alpha ) \rb  \in \GL_d(R)
                | this does not give a map
                me G \to \GL_d(R)
                | because of relations between #[m g_\alpha ].
            example: statement: p
                | Take the relation
                me g_1 g_2\inv = e
                | need
                me ((X_{ij}^1) + \lb  \bar\rho  (g_1)\rb )((X_{ij}^2) + \lb  \bar\rho  (g_2)\rb )\inv - 1 = 0
                | this gives #[m d^2] equations in #[m R].
            p
                | Can do this in general.
                | In fact the LHS is in #[m \ideal m_R].
                | So if #[m I] is the ideal of all relations, then #[m I\subseteq \ideal m_R].
                | And let
                me R_{\bar \rho }^{univ,\square} = R/I
                | . 
            p
                me \rho \colon  G \to \GL_d(R/I)
                me g_\alpha \mapsto (X_{ij}^\alpha ) + \lb \bar\rho (g_\alpha )\rb \pmod I
                | is a well-defined homomorphism.
                | And it is universal:
                | If
                me \rho _A \colon G \to \GL_d (A)
                me R\xrightarrow\pi A
                me (X_{ij}^\alpha )_{ij} \mapsto (\rho _A(g_\alpha ) - \lb \bar\rho (g_\alpha )\rb )_{ij}
                | then #[m \pi ] kills #[m I] (exercise).
            p
                me R/I \xrightarrow{\bar \pi } A
                | .
            exercise
                statement: p
                    | Check this induces #[m \rho _A] from the universal.

            p
                | There are two problems with this, it is not necessary that the universal deformation we have constructed be continuous, or that the universal deformation ring be continuous.

            p
                | The root of these problems is that  there are potentially too many #[m g_\alpha ].
                | introduce a condition #[m \Phi _p] that for all open finite index
                me G_0 \subseteq G
                | we have
                me \Hom(G_0, \FF_p)
                | is finite.
            exercise: statement: p
                me \Hom(G_0, \FF_p)
                | is finite if and only if #[m G^{pro-p}] is topologically finitely generated. (this is Gouvea lemma 2.1)

            p
                | If #[m G = G_K] with #[m K/\QQ_\ell] finite, WLOG
                me G = G_0 = G_K
                | and #[m \Phi _p] holds in this case
                me G_K^\ab \simeq \hat K^* \simeq \hat \ZZ \times \ints_K^*
                | an exercise in LCFT
                me G_0 \subseteq G_K
                | fin index open then
                me G_0 = G_L
                | with #[m L/\QQ_p]
        aside: p Lecture 4 4/2/2020

        paragraphs
            title Redo

            p
                me  D_{\bar \rho }^{\square} \colon  \mathcal C \to \Set
                me.
                    A \mapsto \left\{
                    \xymatrix{
                    G \ar[r]^{\rho } \ar[dr]_{\bar\rho }&amp; \GL_d(A)\ar[d]\\
                        &amp; \GL_d(k)
                        } \right\}
            p
                me  D_{\bar \rho }\colon  \mathcal C \to \Set
                me.
                    A \mapsto D_{\bar \rho }^{\square} /\text{strict equiv.}
            theorem
                statement: p
                    ol
                        li
                            | #[m D_{\bar \rho }^{\square}] is representable (by #[m R_{\bar \rho }^{\square} ])
                        li
                            | If #[m \Aut_G \bar \rho = k^\times] then #[m D_{\bar\rho }] is representable (#[m R_{\bar\rho }]).

            p
                | Universal property:
                | framed case:
                me \exists \rho _{univ}^{\square} \colon G \to \GL_d(R_{\bar \rho }^\square)
                | s.t. if #[m \rho  _A] is a lift of #[m \bar \rho ] to #[m A ]then there exists a unique
                me R_{\bar \rho }^\square \xrightarrow\phi  A
                | which is in #[m \mathcal C] s.t.
                me.
                    \xymatrix{
                    G \ar[r]^{\rho_{univ}^\square } \ar[dr]_{\rho _A}&amp; \GL_d(A)\ar[d]^{\phi ^*}\\
                        &amp; \GL_d(A)
                        }
            p
                | unframed case:
                | there exists a deformation #[m \lb \rho _{univ}\rb ] of #[m \bar \rho ] to #[m R_{\bar \rho }] s.t. if #[m \lb  \rho _A \rb ] is a deformation of #[m \bar \rho ] to #[m A]  then there exists a unique 
                me R_{\bar \rho } \xrightarrow\phi A
                | s.t
                me \phi ^*(\lb \rho _{univ}\rb)  = \lb \rho _A\rb 
                | .
            p
                me D_{\bar \rho}  ^\square(R_{\bar \rho }^\square ) = \Hom (R_{\bar \rho }^\square, R_{\bar \rho }^\square )
                me \rho _{univ}^\square \leftrightarrow \mathbf 1
                |.
            exercise
                statement: p
                    | Check this universal property (also unframed case).


        paragraphs
            title Last time
            p
                me R_{\bar \rho }^\square = W(k) \lb \lb  \left\{ X_{ij}^\alpha \right\}_{i,j,\alpha } \rb \rb / I_{relations}

                |.


            p
                | Introduced the condition
                me \Phi _p \forall  \text{ open finite index } G_0 \subseteq G,\ \Hom(G_0, \FF_p)\text{ is finite}
                | .
            p
                | This condition holds for #[m G_K] when #[m K/\QQ_\ell] is finite.
            p
                | However it is false for #[m G_K] when #[m K/\QQ] is finite.
                | Such as #[m K = \QQ].
                | As for #[m \ell\equiv  1 \pmod p] then
                me G_\QQ \to \Gal{\QQ(\mu _\ell)}\QQ \to \FF_p
                | and there are infinitely many such #[m \ell]'s
            p
                | This is not a problem as the representations we are interested in, those coming from elliptic curves and modular forms, have good reduction outside a finite set of primes #[m S]. We may encode this into our deformation problem as follows:
                | Let #[m K/\QQ] finite and #[m S] a finite set of places of #[m K] and
                me K_S
                | be the maximal extension of #[m K] unramified outside of #[m S].
                | Then
                me G_{K,S} = \Gal {K_S}K
                | .
                | And #[m \Phi _p] is true of #[m G_{K,S}].
                | The proof is an exercise in Global CFT.
                | Silverman #[m VIII] prop. 1.6.


            p
                | #[m H] profinite, let #[m H^{\text{pro-}p}] be the maximal pro-#[m p] quotient of #[m H].
            exercise
                statement: p
                    |#[m \Hom(H, \FF_p)] finite implies that #[m H^{\text{pro-}p}] is topologically finitely generated. This is an equivalence in fact (lemma 2.1 Gouvea).


        paragraphs
            title Existence of the framed deformation ring (take II)

            p
                | Assume #[m G ] satisfies #[m \Phi _p].
                me \bar \rho  \colon  G \to \GL_d(k)
                | , #[m H = \ker(\bar \rho )] is finite index in  #[m G].
                | Let
                me \rho _A \colon  G \to \GL_d(A)
                | lift #[m \bar \rho ].
                me \rho _A (H) \subseteq \ker(\GL_d(A) \to \GL_d(k))
                |.

            exercise
                statement: p
                    | Prove this is pro-#[m p].
            p
                | Hence #[m \rho _A |_H] factors through #[m H^{\text{pro-}p}].

            p
                | Pick topological generators #[m g_1,\ldots, g_s ] of #[m H^{\text{pro-}p}] (via #[m \Phi _p]).
                | Pick coset representatives #[m g_{s+1},\ldots, g_t ] of #[m G/H].

            p
                | Run the argument from last time to get
                me R_{\bar \rho }^\square = W(k) \lb \lb \left\{ X_{ij}^\alpha \right\}_{\alpha =1,\ldots, t,\,i,j = 1,\ldots, d}\rb \rb /\overline { I_{rel}}
                |.

        paragraphs
            title Space of universal framed deformations
            p
                me \Hom (R_{\bar \rho }^\square, A)

            p
                | For unframed deformations it can be the case that we even have that
                me R_{\bar \rho  } \simeq \ZZ_p \lb \lb  X_1, X_2, X_3\rb \rb
                me A = \ZZ_p
                me D_{\bar \rho  } (\ZZ_p)  = \Hom_{\mathcal C}(\ZZ_p\lb \lb X_1,X_2,X_3\rb \rb , \ZZ_p ) \simeq (p\ZZ_p)^3
                |.
            p
                | To prove this space exists for unframed deformations, we have 3 options
            p
                ol
                    li
                        | We should have a bigger space of framed deformations in general, which should quotient down to that of unframed deformations, by forgetting the framing.
                        |Then we could construct #[m R_{\bar\rho }] using this quotient.
                        | Kisin's notes chapter 3.

                    li
                        | Pseudo-deformations (for later).
                    li
                        |Schlessinger's criterion.


        paragraphs
            title One dimensional examples
            p
                me.
                    \xymatrix{
                    G \ar[r]^{\bar \rho = \bar \chi } \ar[dr]_{\chi _A}  &amp; \GL_1(k)  = k^\times \\
                    &amp; A^\times \ar[u] 
                    }
                | .
                me 1 \to 1+ \ideal m_A \to A^\times \to k^\times \to 1

                me A^\times\simeq k^\times \times(1+ \ideal m_A)
                | last term is free and #[m k^\times] is determined by #[m \bar \chi].
            p
                | Need
                me.
                    \xymatrix{
                    G \ar[r]\ar[dr]  &amp; 1 +\ideal m_A\\
                    &amp; G^{\ab, \text{pro-}p} \ar[u] 
                    }
            p
                | Any
                me \chi  \colon G^{\ab, \text{pro-}p} \to 1+\ideal m_A
                | fixes a deformation of #[m \bar\chi ].

            claim
                statement: p
                    me W(k) \lb \lb  G^{\ab, \text{pro-}p} \rb \rb  \simeq R_{\bar\chi }
                    me \Hom_{\mathcal C } (W(k) \lb \lb G^{\ab, \text{pro-}p}  \rb \rb  , A) \simeq \Hom (G^{\ab, \text{pro-}p} , A^\times)
                    | .

            p
                | The universal character is then
                me  G \to G^{\ab, \text{pro-}p} \to W(k) \lb \lb  G^{\ab, \text{pro-}p} \rb \rb  
                me \sigma  \mapsto \sigma  \mapsto \langle \sigma  \rangle \lb  \bar \chi  (\sigma )\rb 
                | .
                me \chi _A \colon  G \to A^*
                | ????????? check commutes

            example
                statement: p
                    | #[m G = G_{\QQ,\left\{p,\infty \right\}}] 
                    me G^{\ab} = G_{\QQ,\left\{p,\infty \right\}}^\ab=\Gal{\QQ(\mu _{p^ \infty })}\QQ \simeq \ZZ_p^*
                    me  G^{\ab, \text{pro-}p} \simeq 1 + p\ZZ_p \simeq \ZZ_p

                    | #[m R_{\bar \chi }  = \ZZ_p \lb \lb  1+ p \ZZ_p\rb \rb  \simeq \ZZ_p\lb \lb T\rb \rb]
        aside: p Lecture 5 6/2/2020


        p
            | Today we will assume throughout that
            me \Aut_G(\bar \rho  ) \simeq k^*
            | so that there exists
            me R_{\bar \rho }
            | the universal deformation ring, although we didn't prove this yet.


        p
            | Let #[m A\in \mathcal C], we define the cotangent space of #[m A] to be
            me t_A^*  = \ideal m _A / \ideal m_A ^2 + pA
            | the tangent space is then
            me t_A = \Hom(t_A^*, k)
            | .

        example
            statement: p
                me A = W(k) \lb \lb X_1, \ldots, X_d\rb \rb 
                | and #[m \ideal m_A = (p, X_1, \ldots, X_d)]
                | then
                me t_A^* = \frac{(p, X_1, \ldots, X_d)}{(p, \{X_iX_j\}_{ij})} \simeq kX_1\oplus \cdots kX_d
                | , so this is #[m d]-dimensional and we see that we just have linear terms, which is consistent with the tangency interpretation.


        fact
            statement: p
                me \dim(A/pA) \le \dim_k t_A
                | where the LHS is the Krull dimension (the length of the longest chain of prime ideals), let #[m d = \dim t_A], then Nakayama's lemma implies #[m d] is the minimal number of generators of
                me \ideal m_A/pA
                | .
                me W(k) \lb \lb X_1, \ldots, X_d\rb \rb  \twoheadrightarrow A
                me X_i \mapsto \text{gen of } \ideal m_A/pA
                |.

        paragraphs
            title Tangent spaces and deformations

            p
                | Let
                me k\lb \epsilon \rb  = k\lb x\rb /(x^2)
                | then #[m \epsilon  = \bar x] and we have #[m \epsilon ^2 =0].
                | These are known as the dual numbers.


            proposition
                statement: p
                    me \Hom_{\mathcal C} (A, k\lb \epsilon \rb ) \simeq t_A
                    | for #[m A \in \mathcal C].
                proof
                    p
                        me \Hom_{\mathcal C} (A, k\lb \epsilon \rb ) \simeq \Hom_{\mathcal C} (A/\ideal m_A^2 + pA, k\lb \epsilon \rb ) 
                        | since
                        me (\ideal m_{k\lb \epsilon \rb })^2 = 0
                        | and
                        me  p = 0 \in k\lb \epsilon \rb 
                        |.
                        me A/\ideal m_A^2 + pA \simeq k \oplus \ideal m_A/\ideal m_A^2 + pA
                        me x\mapsto (\bar x, x - \lb \bar x\rb  )
                        me \lb \bar x\rb + y  \mapsfrom (\bar x, y)
                        | as #[m k]-vector spaces.
                        me k\lb \epsilon \rb   \simeq k \oplus \epsilon  k
                        | .
                        me \Hom_{\mathcal C} (A/\ideal m_A^2 + pA, k\lb \epsilon \rb )  \simeq  \Hom_{\mathcal C} (A/\ideal m_A^2 + pA, \epsilon  k )  \simeq t_A
                        | where now we take homomorphisms of #[m k]-vector spaces.

            p
                | Take #[m A = R_{\bar \rho }] then the proposition implies
                me D_{\bar \rho } (k\lb \epsilon \rb ) \simeq t_{R_{\bar\rho }}
                | to deform
                me \bar \rho 
                | to #[m k\lb \epsilon \rb ]
                me \rho _\epsilon(g)  = \bar \rho (g) + \epsilon \phi  (g)
                | for some
                me g\mapsto \phi  (g)  \in M_d(k)
                |with
                me.
                    \xymatrix{
                    G \ar[r]^{\rho _\epsilon } \ar[dr]_{\bar\rho }  &amp; \GL_d(k\lb \epsilon \rb )\ar[d]\\
                    &amp; \GL_d(k)
                    }
                |.
            p
                | We know
                me \rho _\epsilon  (gh) = \rho _\epsilon (g) \rho _\epsilon (h)
                me \bar \rho  (gh) + \epsilon  \phi (gh) = (\bar \rho (g) + \epsilon   \phi (g))(\bar \rho (h) + \epsilon  \phi (h))
                me                                       = \bar \rho (g)\bar \rho (h) + \epsilon  ( \phi (g)\bar \rho (h)  +\bar \rho   (g) \phi (h))
                | so
                me \phi (gh) =   \phi (g) \bar \rho (h)+\bar \rho   (g) \phi (h)
                | scale on the right by
                me \bar \rho  (h)\inv  \bar \rho (g)\inv  = \bar \rho (gh)\inv 
                | .

                me \phi (gh) \bar \rho (gh)\inv  =   \phi (g) \bar \rho (g)\inv +\bar \rho   (g) \phi (h) \bar \rho  (h)\inv \bar \rho (g)\inv 
                | set
                me \psi (g)  = \phi (g) \bar \rho (g)\inv 
                | so
                me \psi  (gh) = \psi (g) + \bar \rho  ( g) \psi (h) \bar \rho (g)\inv 
                me \psi (h) \in M_d(k) \simeq \End(\bar \rho )\acts G
                me \End (\bar  \rho ) = \Hom(V_{\bar \rho  },V_{\bar \rho  }) = \ad(\bar \rho )
                | this is the representation where
                me g \bullet M = \bar \rho  (g) M \bar \rho (g)\inv 
                | .
                me \psi   \in Z^1 (G, \ad(\bar \rho ))
                | so we get a map
                me \{ \text{lifts of }\bar \rho \} \to Z^1(G, \ad \bar \rho )
                | .

            exercise
                statement: p
                    | Strictly equivalent lifts yield cocyles differing by coboundaries.

            proposition
                statement: p
                    me t_{R_{\bar \rho }}\simeq D_{\bar \rho  }( k\lb \epsilon \rb ) \simeq H^1(G, \ad \bar \rho )
                    me D^\square_{\bar \rho  }( k\lb \epsilon \rb ) \simeq Z^1(G, \ad \bar \rho )
            exercise: statement: p Prove this.
            exercise: statement: p Show that #[m \forall \bar\rho ], #[m H^1(G, \ad \bar \rho )] is finite dimensional if and only if #[m G] satisfies #[m \Phi _p].

            p
                | Let
                me d_1 = \dim_k H^1(G, \ad \bar \rho )
                me 0 \to I \to W(k)\lb \lb X_1, \ldots, X_{d_1}\rb \rb  \to R_{\bar \rho } \to 0
                | .

            p
                | How  big is #[m I]?
                | This is equivalent to finding lower bounds on #[m \dim R_{\bar \rho }].
                | Obstruction to lifting #[m \bar \rho ].

            p
                me.
                    \xymatrix{
                    G \ar[r]^{\exists ? \rho } \ar[dr]_{\bar\rho }  &amp; \GL_d(\ZZ/p^2)\ar[d]\\
                    &amp; \GL_d(\FF_p)
                    }
                |.
                | If we choose a set map #[m \rho ] then we can set
                me \phi (g,h) = \rho (gh) \rho (h)\inv \rho (g)\inv \in 1+  p M_d(\FF_p)
                | in the sequence
                me 1 \to 1+ p M_d(\FF_p) \to \GL_d(\ZZ/p^2) \to \GL_d(\FF_p) \to 1
                | where
                me 1+ pM_d(\FF_p) \simeq M_d(\FF_p) \simeq \End(\bar \rho )
                | .

            claim
                statement: p
                    me \phi (g,h) \in Z^2(G, \ad \bar \rho )

            p
                | The condition to be such a cocycle is
                me a \bullet \phi (b,c) - \phi (ab,c) + \phi (a,bc) - \phi (a,b) = 0
                |.
                | So we do a long calculation, using the fact that the kernel is abelian.

            p
                |Exercise check that changing #[m \rho ] changes by a coboundary.
                me \phi \in H^2(G, \ad \bar \rho )
                | .
            p
                | More generally
                me A_1 \xtwoheadrightarrow {\pi } A_0
                me I = \ker \pi 
                | s.t.
                me \ideal m_{A_1} I = 0
                | so #[m I] is a #[m k]-vector space.


            p
                me \phi (g,h) = \rho _1(gh) \rho _1(h)\inv \rho _1(g)\inv  \equiv  1 \pmod I
                | so in
                me 1 + M_d(I) \simeq 1 + M_d(k) \otimes I
                me \simeq \ad \bar \rho  \otimes I
                | .
                me \phi  \in H^2(G,\ad \bar \rho  ) \otimes I
                |.

        aside: p Lecture 6 11/2/2020

        p
            me \bar \rho  \colon  G \to \GL_d(k)
            me \Aut_D \bar \rho   \simeq k^\times
            | implies that there exists
            me R_{\bar \rho }
            | a universal deformation ring representing
            me D_{\bar \rho }
            | .

        p
            | We defines
            me t_R^* = \ideal m_R /\ideal m_R^2 + p
            | .
            me t_R = \Hom(t_R^*, k)
            | .

            me t_{R_{\bar\rho }} \simeq D_{\bar\rho }(k\lb \epsilon \rb ) \simeq H^1(G, \ad \bar \rho )
            me \dim =  d_1 \lambda  \infty 
            | .
            me 0 \to I \to W(k) \lb \lb X_1, \ldots,X_{d_1} \rb \rb   \to R_{\bar \rho } \to 0
            | .

        p
            me A_0 \in \mathcal C
            me \rho _0 \colon G \to \GL_d(A_0)
            | deforming #[m \bar \rho ].
        p
            me A_1 \xrightarrow {\pi } A_0
            me \ideal m_{A_1} \cdot \ker(\pi ) =0
            me \sheaf O (\rho  _0)  \in H^2 (G, \ad \bar \rho ) \otimes \ker(\pi )
            me \sheaf O (\rho  _0)  = 0 
            | if and only if there exists a deformation of #[m \rho _0] to #[m A_1] (via #[m \pi ]).
            | If #[m H^2(G, \ad \bar\rho ) = 0] then we can always deform these small homs.

        theorem: statement: p
            | Let
            me d_ i = \dim H^i(G, \ad \bar \rho ),\,i = 1,2
            | then
            men#eqn-krulldim-def-ring \krulldim (R_{\bar\rho} / p R_{\bar \rho }) \ge d_1 - d_2
            | .
            | Additionally if #[m d _2 = 0] then
            me R_{\bar \rho } \simeq W(k) \lb \lb  X_1, \ldots, X_{d_1}\rb \rb 
            |.
        conjecture: statement: p
            | We have equality in #[xref(ref="eqn-krulldim-def-ring")/].

        p
            | If we have
            me R \to S \in \mathcal C
            me t^*_R \to t^*_S
            me t_S \to t_R
            | .
            me W(k)\lb \lb X_1,\ldots, X_{d_1}\rb \rb  \to R_{\bar\rho } \to 0
            me t_{R_{\bar \rho }} \xrightarrow \sim t_{W(k)\lb \lb X_1, \ldots, X_{d_1}\rb \rb }
            | .
            | Same dimensions and injective since surj on cotangent space.


        p: proof
            title Of above
            p
                me 0 \to I \to W(k)\lb \lb X_1, \ldots, X_{d_1}\rb \rb  \to R_{\bar\rho } \to  0
                me 0 \to J \to k\lb \lb X_1, \ldots, X_{d_1}\rb \rb  \to R_{\bar\rho }/pR_{\bar\rho } \to  0
                me 0 \to J /\ideal m J\to k\lb \lb X_1, \ldots, X_{d_1}\rb \rb /\ideal m J \to R_{\bar\rho }/pR_{\bar\rho } \to  0
            p
                | Claim: there exists
                me \Hom(J/\ideal mJ, k) \hookrightarrow H^2(G,\ad \bar\rho )
                | this implies
                me \dim_k (J / \ideal m J) \le d_2
                | so #[m J] has a set of generators of length #[m \le d_2] by Nakayama.
                | So
                me \krulldim(R_{\bar\rho }/pR_{\bar\rho }) \ge d_1 - d_2
                | .
                | Maybe this is Krull's principal ideal theorem.


            p
                | The proof of the claim is as follows:
                | Let
                me \tilde \rho 
                | be #[m \rho ^{univ}] mod #[m p]
                me \tilde \rho\colon  G \to \GL_d(R_{\bar\rho }/pR_{\bar\rho })
                me \sheaf O (\tilde \rho )  \in H^2(G, \ad \bar \rho ) \otimes J/\ideal m J
                me \Hom(J/\ideal m J,k) \xrightarrow\alpha H^2(G, \ad \bar\rho )
                me f\mapsto (1\otimes f)(\sheaf O(\tilde \rho ))
                | #[m f\ne 0] so that
                me \alpha (f) = 0
                me f\colon  J/\ideal m  J \to k
                me 0 \to (J/\ideal m J)/ \ker f \to ((k \lb \lb X_1, \ldots, X_{d_1}\rb \rb )/\ideal m J)/ \ker f \to R_{\bar \rho }/ p R_{\bar\rho } \to 0
                | .
                | But this is
                me  0 \to k \to R'\to R_{\bar\rho }/pR_{\bar\rho } \to 0
                | .
                | Obstruction class is #[m f (\sheaf O (\tilde \rho )) = 0].

                | So there exists a deformation of #[m \tilde \rho ] to #[m R'].
                | But #[m \characteristic R' = p] as
                me \tilde \rho 
                | is the universal deformation of #[m \bar\rho ] to a  characteristic #[m p] ring.

            p
                | So there exists
                me R_{\bar\rho }/p R_{\bar\rho } \to R'
                | hence
                me t_{R'}
                | has larger dimension than
                me t_{R_{\bar \rho }/pR_{\bar \rho }}
                | a contradiction.
            p
                | For the second part
                me 0 \to J \to k\lb \lb X_1,\ldots, X_{d_1}\rb \rb  \to R_{\bar \rho }/ p R_{\bar\rho } \to 0
                | so
                me \dim(J/\ideal mJ) \le d_2  = 0
                | so
                me J/\ideal mJ = 0
                | i.e.
                me J = 0
                | .
                | Hence
                me R_{\bar \rho }/pR_{\bar\rho } \simeq k \lb \lb  X_1, \ldots, X_{d_1}\rb \rb 
                | .
            p
                | We need to know that #[m p^n \ne 0] in #[m R_{\bar \rho }].
                | Suffices to show that
                me D_{\bar \rho }(W(k)) \ne \emptyset
                | .
                | Having #[m H^2 = 0] implies we can lift small homomorphisms
                me k \simeq W(k) / p \leftarrow W(k)/p^2 \leftarrow \cdots
                | so we can lift to #[m W(k)].


        p
            | Now we switch to
            me G = G_{K,S}
            | and we will introduce Tate's global Euler characteristic formula.
            me M = \text{finite cardinality} G_{K,S}\text{-module}
            me S \supseteq \{\text{inf. places}\} \cup\{\ell : \ell| \# M\}
            me \frac{\# H^0(G, M) \# H^2(G,M)}{\# H^1(G,M)} = (\# M)^{-[K : \QQ] } \cdot \prod_{v \in S_\infty } \# H^0(G_{K_v}, M)
            | .

        p
            | Take #[m M = \ad \bar \rho  \simeq M_d(k)].
            me S = \{ \text{inf. places}\} \cup \{\ideal p : \ideal p | p\} \cup\{\text{ram. primes for }\bar \rho \}

            me d_0 - d_1 + d_2 = \sum_{v\in S_\infty } \dim H^0 (G_{K_v}, \ad \bar \rho ) - \lb K : \QQ \rb d^2
            | where #[m d_0 = \dim H^0(G, \ad \bar \rho )]
            me g\cdot M = M

            | implies #[m d_0 = 1]
            me \bar\rho (g) M \bar\rho (g)\inv  = M
            me \implies M \in \End_G(\bar \rho ) = k
            | .
            me d_ - d_2 = \lb K : \QQ \rb  d^2 + 1 - \sum _{v\in S_\infty } \dim_k H^0(G_{K_v}, \ad \bar \rho )
            | .

        example
            statement: p
                me \bar\rho =  \bar\chi  = \text{character of } =G_{K,S}
                me \ad \bar \rho  \simeq \mathbf 1
                | so
                me \dim_k (H^0(G_{K_v}, \ad \bar \rho )) = 1
                | hence
                me \krulldim(R_{\bar\chi}/p R_{\bar \chi }) \ge d_1 - d_2 = \lb K : \QQ \rb   + 1 - r_1 - r_2 = r_2 + 1 \gt 0
                | .
                me R_{\bar \chi } \simeq W(k) \lb \lb  G_{K,S}^{\ab, (p)}\rb \rb 
                me R_{\bar\chi}/p R_{\bar \chi } \simeq k \lb \lb  G_{K,S}^{\ab, (p)}\rb \rb 
                me \krulldim(R_{\bar\chi}/p R_{\bar \chi })  = \rk_{\ZZ_p} (G_{K,S}^{\ab , (p)}) = r_2 + 1
                | which is exactly Leopoldt's conjecture.
        example
            statement
                p
                    me \bar\rho \colon  G_{K,S} \to \GL_2(k)
                    me S=  \{ p, \infty \}
                    me \krulldim(R_{\bar\rho }/p R_{\bar \rho  })  = 4 + 1  - \dim H^0(G_{\RR}, \ad \bar \rho )
                    | take
                    me c  \in  \Gal \CC \RR
                    | either
                    me \bar \rho  (c) =\pm \begin{pmatrix} 1 \amp 0 \\ 0 \amp 1\end{pmatrix}
                    | or
                    me \bar \rho  (c) \sim \begin{pmatrix} 1 \amp 0 \\ 0 \amp -1\end{pmatrix}
                    | the first case is called even the second odd.
                    | In the even case wee have
                    me \ad \bar \rho  = \mathbf 1
                    | and so #[m H^0] has dimension 4.
                    | And
                    me \krulldim(R_{\bar\rho }/p R_{\bar \rho  })  = 1
                    me \dim(R_{\bar\rho }/p R_{\bar \rho  })  \ge 1
                    | .
                p
                    | In the odd case
                    me \begin{pmatrix} 1 \amp 0\\ 0 \amp -1 \end{pmatrix}\begin{pmatrix} a \amp b\\ c \amp  d \end{pmatrix}\begin{pmatrix} 1 \amp 0\\ 0 \amp -1 \end{pmatrix} = \begin{pmatrix} a \amp-b\\ -c\amp  d \end{pmatrix}
                    | so #[m H^0] is 2 dimensional and
                    me \dim(R_{\bar\rho }/p R_{\bar \rho  })  \ge 3
                    | .
